<div>
  <%= link_to notification.actor.name, notification.actor %>
  created a new post:
  <%= link_to 'View', notification.notifiable %>
  <small><%= time_ago_in_words(notification.created_at) %> ago</small>
</div>