<footer class="footer">
  <small>
    The <a href="http://localhost:3000/">Microblog</a>
    by <a href="mailto:egor.dorosh02@icloud.com">Egor Doroshenko</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </nav>
</footer>